# Added by Payload
PAYLOAD_SECRET=
DATABASE_URL=

NEXT_PUBLIC_PAYLOAD_URL=
PAYLOAD_MCP_KEY=

#API MOCKING
NEXT_PUBLIC_API_MOCKING=

#LiveKit
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=

#Ethereal smtp
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=