LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

#key per vari AI providers usati nell'agent. Al momento dai providers prendiamo 3 modelli per una pipeline STT-LLM-TTS, 
###(STT) Speech to text providers
GROQ_API_KEY=
ASSEMBLYAI_API_KEY=
### LLM providers
OPENCODE_URL="https://opencode.ai/zen/v1"
OPENCODE_KEY=
### (TTS) Text to speech providers
FISH_API_KEY=
